parameters:
    paths:
        - %currentWorkingDirectory%/
    excludes_analyse:
        - %currentWorkingDirectory%/vendor/
        - %currentWorkingDirectory%/assets/
        - %currentWorkingDirectory%/tests/
    scanDirectories:
        - ../woocommerce/
        - ../../../wp-includes/
        - ../../../wp-admin/
#        - ../woocommerce-subscriptions
    level: 0
    checkMissingIterableValueType: false
    ignoreErrors:
        - "#Function wcs_order_contains_renewal not found.#"
        - "#unknown class WC_Subscriptions_Renewal_Order#"
