parameters:
    paths:
        - %currentWorkingDirectory%/
    excludes_analyse:
        - %currentWorkingDirectory%/vendor/
        - %currentWorkingDirectory%/assets/
    scanDirectories:
#        - ../../woocommerce/
        - ../../wordpress/wp-includes/
        - ../../wordpress/wp-admin/
#        - ../woocommerce-subscriptions
#        - ../wordpress-develop-tests
    level: 0
    checkMissingIterableValueType: false
    ignoreErrors:
        - "#Inner named functions are not supported by PHPStan#"
        - "#Function wcs_order_contains_renewal not found.#"
        - "#unknown class WC_Subscriptions_Renewal_Order#"
