name: PHP Code Analysis For Altapay Wordpress Plugin

on:
  pull_request:
    branches: [ main ]
  push:
    branches: [ main ]

jobs:
  php-stan:
    runs-on: ubuntu-latest
    steps:
     
     - name: Install wordpress
       run: |
         curl -O https://wordpress.org/latest.tar.gz
         tar xzvf latest.tar.gz 
         rm latest.tar.gz
         pwd
         ls -al
     - name: Install woocommerce
       run: |
         curl -O https://downloads.wordpress.org/plugin/woocommerce.latest-stable.zip
         unzip woocommerce.latest-stable.zip 
         rm woocommerce.latest-stable.zip
         pwd
         ls -al
       working-directory: /home/runner/work/TestRepo/TestRepo/wordpress/wp-content/plugins
     
     - run: mkdir /home/runner/work/TestRepo/TestRepo/wordpress/wp-content/plugins/plugin-wordpress
     - uses: actions/checkout@v2 
       with: 
         path: '/home/runner/work/TestRepo/TestRepo/wordpress/wp-content/plugins/plugin-wordpress'
     - run: ls -al /home/runner/work/TestRepo/TestRepo/wordpress/wp-content/plugins
     - name: Install composer and run PhpStan
       run: |
         composer install
         vendor/bin/phpstan analyze
       working-directory: /home/runner/work/TestRepo/TestRepo/wordpress/wp-content/plugins/plugin-wordpress
      
